@font-face {
    font-family: "PT Sans"
    font-style: normal;
    font-weight: 400;
    src: url("font/pt-sans-regular.woff2") format("woff2")
    font-display:swap;
}
@font-face {
    font-family: "PT Sans"
    font-style: normal;
    font-weight: 700;
    src: url("font/pt-sans-regular.woff2") format("woff2")
    font-display:swap;
}
@font-face {
    font-family: "PT Sans"
    font-style: italic;
    font-weight: 400;
    src: url("font/pt-sans-regular.woff2") format("woff2")
}
@font-face {
    font-family: "PT Sans"
    font-style: italic;
    font-weight: 700;
    src: url("font/pt-sans-regular.woff2") format("woff2")
    font-display:swap;
}
html {
    height: 100%;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-color: #ffffff;
}
.button {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    background-color: #756257;
    text-transform: uppercase;
  
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
/*pages*/
.page-header {
    color: #333333;
    background-color: #ffffff;
}
.navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }
  .navigation-list {
    display: flex;
    flex-wrap: wrap; 
    margin: 0;
    padding: 0;
    width: 380px;
    list-style-type: none;
}


.navigation-user .navigation-link {
    min-width: 16px;
    min-height: 22px;
}
/*Ссылки навигации*/
.navigation-link {
    line-height: 26px;
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    text-align: center;
    padding: 20px 15px;
    display: block;
    background-color: #ffffff;
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
}
.navigation-user {
    max-width: 270px;
    margin-right: 72px;
    
}
/*Кнопка Хочу сюда*/
.navigation-item-here {
    font-size: 16px;
    line-height: 21px;
    font-size: 700;
    color: #ffffff;
    background-color: #756257;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
  }
  /*Логотип*/
  .logo-header {
    margin: 0 auto;
  
  }
  .logo {
    
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
  }
/*Навигация пользователя*/
.navigation-link-img-serch{
    background-image: url("../img/serch1.svg");
    text-align: center;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-color: #ffffff;
}
.navigation-link-img-like{
    background-image: url("../img/heart.svg");
    text-align: center;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-color: #ffffff;
}

/*Добро пожаловать*/
.welcome {
    background-color: #ffffff;
    background-image: url("../img/index_background.jpg");
    width:1200px;
    height: 485px;
    
    text-align: center;
    margin:0;
    padding: 0;
    background-repeat: no-repeat;
}
/*Разделитель*/

.main-container {
    flex-grow: 1;
  }
/*advantages*/
.advantages-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}
/*Сетка для пункта № 1*/
.advantages-item1 {
    display: flex;
    justify-content: space-between;
}
/*Сетка для списка сервисов*/
.advantages-list-services {
    display: flex;
    justify-content: space-between;
}


/*Сетка для пункта №2*/
.advantages-item2 {
    display: flex;
    justify-content: space-between;
}
/*Сетка для удобств. */
.advantages-list-conveniences {
    display: flex;
    justify-content: space-between;
}


.advantages-heading {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    margin-top: 63px;
    margin-left: 240px;
    margin-bottom: 139px;
    margin-right: 240px;
}
.advantages-text {
    font-size: 22px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    margin: 0;
    padding: 0;
    margin-top: 23px;
    margin-left: 240px;
    margin-bottom: 79px;
    margin-right: 240px;
}
.advantages-item1,.advantages-item2 {
    background-color: #83B3D3;
}
.advantages-title-white {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
.advantages-description-white {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
}

.advantages-housing {
    background-color: #ffffff;
    background-image: url("../img/iconhose.svg");
    text-align: center;
    background-size: 75px 72px;
    background-repeat:no-repeat;
    width: 400px;
    height: 384px;
}
.advantages-eat {
    background-color: #ffffff;
    background-image: url("../img/iconeat.svg");
    text-align: center;
    background-size: 74px 70px;
    background-repeat:no-repeat;
    width: 400px;
}
.advantages-souvenirs {
    background-color: #ffffff;
    background-image: url("../img/iconsouvenirs.svg");
    text-align: center;
    background-size: 64px 76px;
    background-repeat:no-repeat;
    width: 400px;
}

.advantages-housing-title,
.advantages-eat-title,
.advantages-souvenirs-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.advantages-housing-description,
.advantages-eat-description,
.advantages-souvenirs-description {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
}
.advantages-item3,.advantages-item5 {
    background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item4 {
    background-color: rgba(131, 179, 211, 0.2);
}
.advantages-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    text-align: center
}
.advantages-description {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
    width: 400px;
}
/*Поиск гостиниц*/
.hotels-search {
    background-color:#ffffff;
    text-align: center;
}
.hotels-search-interested {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform:uppercase;
}
.hotels-search-data {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
}
.hotels-search-button   {
    background-color: #756257;
    width: 575px;
    height: 60px;
    text-align: center;
}
.hotels-search-button a  {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

/*Подписка на рассылку*/
.mailing {
    background-image: url("../img/backgroundmailing.jpg");
    width: 1200px;
    height: 411px;
    text-align: center;
   
    background-repeat:no-repeat;
    color:#ffffff;
}
.mailing-label {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}
.mailing-description {
    font-size: 22px;
    line-height: 36px;
    font-weight: 400;
}
.mailing-form {
    font-size:20px;
    line-height:26px;
    font-weight:700;
    text-align: center;
}
.mailing-form input {
    width: 600px;
    height: 60px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color:#000000;
}
.mailing-form .button {
    width: 200px;
    height: 60px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    background-color: #83B3D3;
    color:#ffffff;
    text-align: center;
}
/*Футер*/ 


.page-footer-container {
    display: flex;
    utline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
    width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
}
.footer-social {
    margin-right: auto;
    max-width: 190px;
}
.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left:72px;
}
.footer-social-item {
    utline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
    width: 20px;
    height: 16px;
}
.footer-social-item:nth-child(3n){
    margin-left: 0;
}

/*Социальные сети*/
.footer-social-twitter{
    background-image: url("../img/social-twitter.svg");
    width: 18px;
    height: 15px;
    background-repeat:no-repeat;
}
.footer-social-facebook{
    background-image: url("../img/social-facebook.svg");
    width: 10px;
    height: 18px;
    background-repeat:no-repeat;
}
.footer-social-youtube{
    background-image: url("../img/social-youtube.svg");
    width: 20px;
    height: 16px;
    background-repeat:no-repeat;
}
.footer-phone {
    width: 720px;
    font-size: 40px;
    line-height: 240x;
    font-weight: 400;
    text-decoration: underline;
    text-transform: uppercase;
   }
.htmlacademy-linke-img{
    background-image: url("../img/logo-htmlacademy.svg");
    width: 115px;
    height: 34px;
    background-repeat:no-repeat;
}


/*Страница каталога*/
/*.page-container {
    display: flex;
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
    

}*/
.main-inner {
    padding-top: 40px;
}

/*Фон хедера каталога*/
.inner-header{
    background-image: url("../img/catalog-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #ffffff;
    color: #ffffff;
}

/*Фон  раздела поиска гостиниц*/
.sorting-hotels{
    background-color: #e5e5e5;
}
/*Иконки для слайдшоу*/
.slideshow-img-title{
    background-image: url("../img/mode-tile.svg");
    width: 16px;
    height: 14px;
    background-repeat: no-repeat;
}
.slideshow-img-mode{
    background-image: url("../img/mode-slideshow.svg");
    width: 16px;
    height: 14px;
    background-repeat: no-repeat;
}
.slideshow-img-list{
    background-image: url("../img/mode-list.svg");
    width: 16px;
    height: 14px;
    background-repeat: no-repeat;
}
/*Количество звезд*/
.classification-img{
    background-image: url("../img/star.svg");
    text-align: center;
    width: 18px;
    height: 17px;
    background-repeat: no-repeat;
    list-style-type: none;
}
/*Заголовок*/
.inner-header-titel {
    font-size: 60px;
    line-height: 78px;
    margin-top: 0;
    margin-bottom: 5px;
    list-style-type: none;
}

/*Дополнительна навигаци*/
.breadcrumbs {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    display: flex;
    width: 190px;
    margin: 0;
    padding: 0;
}
.catalog-filter-container {
   display: flex;
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
    margin: 0;
}
/*Каталог гостиниц*/
.catalog-filter-title{
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
}
/*Сетка списка гостиниц*/
.hotels-card {
    display: flex;
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
    margin: 0;
}
/*Сетка сортировка страниц*/
.sorting-hotels-grid {
    
    margin-bottom: 16px;
    padding: 16px;
    
}
.slideshow-list{
    display: flex;
    justify-content: space-evenly;
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
    margin: 0;
    width: 1200px;
    list-style-type: none;

}
.sorting-type {
    margin-right: auto;
}
.control-label {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}
.catalog-filter-butten, 
.catalog-filter-butten-reset {
    color: #ffffff;
 }
.found-hotels {
    font-size: 30px;
    line-height: 39px;
    font-weight: 700;
    text-transform: uppercase;
}
.sorting-type {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
}
/*Список гостиниц*/
.hotels-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.hotels-card-link {
    font-size: 24px;
    line-height: 31px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
}
.hotels-card-type, .hotels-card-prise {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    color: #333333;
}
.rating {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    width: 160px;
    height: 37px;
    background-color: #f2f2f2;
    border-radius: 4px;
    text-align: center;
}

/*кнопка В избранное*/
.favourites {
   
    width: 160px;
    height: 37px;
    background-color: #83b3d3;
    border-radius: 4px;
    text-align: center;
}
/*кнопка В избранном*/
.elected {
  
    width: 160px;
    height: 37px;
    background-color: #7db54f;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
}

.hotels-card-button {
    width: 160px;
    height: 37px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
}
/*Пагинатор*/
.pagination-container {
    display: flex;
    width: 400px;
    padding: 25px;
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
    
}

.pagination {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    
   
}
.pagination-item:not(:last-child) {
    margin-right: 8px;
}
/*Кнопка пагинатора Загрузить еще*/
.pagination-show-more {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    width: 625px;
    height: 55px;
    background-color: #83b3d3;
    border-radius: 4px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/*Кнопки пигинатора*/
.pagination-link {
    display: block;
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    padding: 14px 20px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    background-color: #83b3d3;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
}

.pagination-link-more {
    background-image: url("../img/link-button.svg");
    display: block;
    box-sizing: border-box;
    width: 55px;
    height: 55px;
}

/*Кнопка пигинатора на выбранной странице*/
.pagination-current {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    background-color: #f2f2f2;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
}
.sorting-type {
    display: flex;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    color: #333333;
    background-color: #f2f2f2;
    border-radius: 4px;
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
    
    
}





    

